@{
  Layout = "_LayoutAdmin";
  ViewData["Title"] = "Master Sales";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <h1>Halaman Master Sales</h1>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <p>content</p>
    </section>
    <!-- /.content -->
  </div>
